<h1>publications.bib</h1><a name="EliCus22"></a><pre>
@article{<a href="publications.html#EliCus22">EliCus22</a>,
  author = {Jan Eliáš and Gianluca Cusatis},
  title = {Homogenization of discrete mesoscale model of concrete for coupled mass transport and mechanics by asymptotic expansion},
  journal = {Journal of the Mechanics and Physics of Solids},
  year = {2022},
  volume = {167},
  pages = {105010},
  doi = {10.1016/j.jmps.2022.105010},
  issn = {0022-5096}
}
</pre>

<a name="EliYin-22"></a><pre>
@article{<a href="publications.html#EliYin-22">EliYin-22</a>,
  author = {Jan Eliáš and Hao Yin and Gianluca Cusatis},
  title = {Homogenization of discrete diffusion models by asymptotic expansion},
  journal = {International Journal for Numerical and Analytical Methods in Geomechanics},
  year = {2022},
  volume = {46},
  issue = {16},
  pages = {3052-3073},
  doi = {10.1002/nag.3441},
  issn = {0363-9061}
}
</pre>

<a name="BolEli-21"></a><pre>
@article{<a href="publications.html#BolEli-21">BolEli-21</a>,
  author = {John E. Bolander and Jan Eliáš and Gianluca Cusatis and Kohei Nagai},
  title = {Discrete mechanical models of concrete fracture},
  journal = {Engineering Fracture Mechanics},
  year = {2021},
  volume = {257},
  pages = {108030},
  doi = {10.1016/j.engfracmech.2021.108030},
  issn = {0013-7944}
}
</pre>

<a name="EliVor20"></a><pre>
@article{<a href="publications.html#EliVor20">EliVor20</a>,
  author = {Jan Eliáš and Miroslav Vořechovský},
  title = {Fracture in random quasibrittle media: {I}. {D}iscrete mesoscale simulations of load capacity and fracture process zone},
  journal = {Engineering Fracture Mechanics},
  year = {2020},
  volume = {235},
  pages = {107160},
  doi = {10.1016/j.engfracmech.2020.107160},
  issn = {0013-7944}
}
</pre>

<a name="MasKve-23"></a><pre>
@article{<a href="publications.html#MasKve-23">MasKve-23</a>,
  author = {Jan Mašek and Josef Květoň and Jan Eliáš},
  title = {Adaptive discretization refinement for discrete models of coupled mechanics and mass transport in concrete},
  journal = {Construction and Building Materials},
  year = {2023},
  volume = {395},
  pages = {132243},
  doi = {10.1016/j.conbuildmat.2023.132243},
  issn = {0950-0618}
}
</pre>

<a name="Eli20"></a><pre>
@article{<a href="publications.html#Eli20">Eli20</a>,
  author = {Jan Eliáš},
  title = {Elastic properties of isotropic discrete systems: {C}onnections between geometric structure and Poisson’s ratio},
  journal = {International Journal of Solids and Structures},
  year = {2020},
  volume = {191-192},
  pages = {254--263},
  doi = {10.1016/j.ijsolstr.2019.12.012},
  issn = {0020-7683}
}
</pre>

<a name="LeEli-18"></a><pre>
@article{<a href="publications.html#LeEli-18">LeEli-18</a>,
  author = {Jia-Liang Le and Jan Eliáš and Anna Gorgogianni and Joshua Vievering and Josef Květoň},
  title = {Rate-Dependent Scaling of Dynamic Tensile Strength of Quasibrittle Structures},
  journal = {Journal of Applied Mechanics - ASME},
  year = {2018},
  volume = {85},
  number = {2},
  pages = {021003},
  doi = {10.1115/1.4038496},
  issn = {0021-8936}
}
</pre>

<a name="Eli17"></a><pre>
@article{<a href="publications.html#Eli17">Eli17</a>,
  author = {Jan Eliáš},
  title = {Boundary Layer Effect on Behavior of Discrete Models},
  journal = {Materials},
  year = {2017},
  volume = {10},
  pages = {157},
  doi = {10.3390/ma10020157},
  issn = {1996-1944}
}
</pre>

<a name="Eli16"></a><pre>
@article{<a href="publications.html#Eli16">Eli16</a>,
  author = {Jan Eliáš},
  title = {Adaptive technique for discrete models of fracture},
  journal = {International Journal of Solids and Structures},
  year = {2016},
  volume = {100--101},
  pages = {376--387},
  doi = {10.1016/j.ijsolstr.2016.09.008},
  issn = {0020-7683}
}
</pre>

<hr><p><em>This file was generated by
<a href="http://www.lri.fr/~filliatr/bibtex2html/">bibtex2html</a> 1.99.</em></p>
